.navbar {
    width: 100vw;
    height: 72px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
}

.nav-btn {
    display: flex;
    gap: 10px;
}

.signin-btn {
    border: 1px solid #7EA6FF;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 6px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color: #7EA6FF;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.create-form-btn {
    border: 1px solid #7EA6FF;
    width: 170px;
    padding: 5px 10px;
    border-radius: 6px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #1A5FFF;
    cursor: pointer;
    outline: none;
    border: none;
}